<h2 id = "titre-auth">Authentification</h2>
<strong id = "warning" *ngIf ="this.authService.isReset">
	Veuillez entrer le bon nom d'utilisateur ou mot de passe
</strong>
<form (ngSubmit) = "onSignIn(f)" #f="ngForm" *ngIf="!authStatus">
	<div class="form-group">
		<label for ="userName">
			Utilisateur
		</label>
		<input type="text" class="form-control" name= "userName" ngModel required>
	</div>
	<div class="form-group">
		<label for ="userPassword">
			Mot de Passe
		</label>
		<input type="password" class="form-control" name= "userPassword" ngModel required>
	</div>

	<button type="submit" class="btn btn-primary" *ngIf="!authStatus" [disabled] = "f.invalid">
		Se connecter
	</button>
</form>

<div *ngIf="authStatus">
	<p>
		<strong>Nom: </strong>{{this.authService.userConnected}}
	</p>
	<p>
		<strong>Nombre de recettes publiées: </strong>{{this.authService.nbRecetteConnected}}
	</p>
</div>

<button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>


