<li class = "list-group-item">
	<h3 class = "recette-Name"> {{recetteName}} </h3>
	<h4>
		<p>Catégorie: {{recetteCategory}}</p>
		<p>Dificulté de réalisation: {{recetteDificulty}} casseroles</p>
		<p>Temps de réalisation: {{recetteTime}}</p>
		<p>Ingrédients pour {{nbPersonne}} personnes: </p>
		<ul>
			<li *ngFor ="let ingredients of Ingredients"> 
				{{ ingredients.quantity }} {{ ingredients.unitIngredient }} {{ ingredients.nameIngredient }}
			</li>
		</ul>
		<p>Recette: </p>
		<ul>
			<li *ngFor ="let instruction of Instructions"> 
				{{ instruction.step }}: {{ instruction.detailInstruction }}
			</li>
		</ul>
	</h4>
	<a [routerLink] = "[id]"> Modifier </a>  
	<p>Date d'ajout: {{recetteAddDate}}</p>


</li>
