<li class = "list-group-item">
	<!-- <h3 class = "recette-Name"> {{recetteName}} </h3> -->
	<article class="box excerpt">
	<div id ="ingredients">
		<div id = "gauche">
			<header>
				<span class="date">{{recetteCategory}}</span>
				<h1 id="logo"> {{ recetteName}} by {{cooker}} </h1>
			</header>
			<h4>
				<p>Catégorie: {{recetteCategory}}</p>
				<p>Dificulté de réalisation: {{recetteDificulty}} casseroles</p>
				<p>Temps de réalisation: {{recetteTime}}</p>
				<p>Ingrédients pour {{nbPersonne}} personnes: </p>
				<ul>
					<li *ngFor ="let ingredients of Ingredients"> 
						{{ ingredients.quantity }} {{ ingredients.unitIngredient }} {{ ingredients.nameIngredient }}
					</li>
				</ul>
				<p>Recette: </p>
				<ul>
					<li *ngFor ="let instruction of Instructions"> 
						{{ instruction.step }}: {{ instruction.detailInstruction }}
					</li>
				</ul>
			</h4>

		</div>
		<!--
		<div id = "droite">
			<img src="/assets/img/img{{id}}.png" width = "300 px"/>
		</div>
	-->
		<img style="max-width:400px;" *ngIf="imgURL" [src]="imgURL">
	</div>
	<div class = "footer">
			<a [routerLink] = "[id]"> Modifier </a>  
			<p>Date d'ajout: {{recetteAddDate}}</p>
	</div>

	</article>

</li>
