<li class = "list-group-item">
	<h3> {{recetteName}} </h3>
	<h4>
		<p>Dificulté de réalisation: {{recetteDificulty}} casseroles</p>
		<p>Temps de réalisation: {{recetteTime}}</p>
		<p>Date d'ajout: {{recetteAddDate}}</p>
		<p>Ingrédients: </p>
		<ul>
			<li *ngFor ="let ingredients of Ingredients"> 
				{{ ingredients.quantity }} {{ ingredients.unitIngredient }} {{ ingredients.nameIngredient }}
			</li>
		</ul>
		<p>Recette: </p>
		<ul>
			<li *ngFor ="let Instruction of listeInstructions"> 
				{{ Instruction.step }}: {{ Instruction.instruction }}
			</li>
		</ul>
	</h4>
	Recette :<input type="text" class="form-control" [(ngModel)] = "recetteName">

</li>
