<h1>Cook n Chill</h1>
<nav class ='navbar navbar-default'> 
    <div class= 'container-fluid'>
        <ul class = 'nav navbar-nav'>
            <li>
                <a routerLinkActive = 'active' routerLink='recette-view'>Accueil</a>
             </li>
             <li>
                <a routerLinkActive = 'active' routerLink='edit'>Ajouter une recette</a>
            </li>

        </ul>
        <div class = 'navbar-right'>
             <p>Le site de la gourmandise</p>   
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <router-outlet></router-outlet>   
    
    </div>
</div>