<div id = "page-wrapper">
<section id="header">
    <div class="container">

        <!-- Logo -->
            <h1 id="logo"><img src="/assets/img/logo.png" width = "100 px"/><a href="index.html">Cook n Chill</a></h1>
            <p>Le site de la gourmandise</p>
                                   

        <!-- Nav -->
        <nav id="nav">
                                <ul>
                                    <li><a class="icon solid fa-home" routerLinkActive = 'active' routerLink='recette-view'>
                                        <span>Accueil</span>
                                    </a></li>
                                    <li><a class="icon solid fa-home" routerLinkActive = 'active' routerLink='edit'>
                                        <span>Ajouter</span>
                                    </a></li>
                                    <li><a class="icon solid fa-home" routerLinkActive = 'active' routerLink='auth'>
                                        <span *ngIf ="!this.authservice.userConnected">Authentification</span>
                                        <span *ngIf ="this.authservice.userConnected">{{this.authservice.userConnected}}</span>
                                    </a></li>
        
                                </ul>
        </nav>
    </div>       
</section>



<div class="container">
    <div class="row">

        <router-outlet></router-outlet>   
    
    </div>
</div>
</div>