<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="recetteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="recetteName">Nom de la recette</label>
      <input type="text" id="recetteName" class="form-control" formControlName="recetteName">
    </div>
    <div class="form-group">
      <label for="category">Catégorie de la recette</label>
      <select id="category" class="form-control" formControlName="category">
        <option value="Plat">Plat</option>
        <option value="Patisserie">Patisserie</option>
        <option value="Apéritif">Apéritif</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="recetteDificulty">Difficulté de la recette (sur 5)</label>
      <select id="recetteDificulty" class="form-control" formControlName="recetteDificulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="form-group">
				<label for ="Temps">
					Temps de réalisation 
				</label>
				<input type="time" name="Temps" class="form-control" formControlName= "recetteTime" >
	</div>
  
  <div class="form-group">
      <label for="nbPersonne">Nombre de personnes</label>
      <select id="nbPersonne" class="form-control" formControlName="nbPersonne">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <!--FormArray INGREDIENTS -->
    <div class = "liste-ingredient">
      <div class = "champ-ingredient">
         <h4>Ingrédients</h4>
         <h4>Quantité </h4>
         <h4>Unité </h4>
      </div>
      
      <div class = "champ-ingredient">
       
       <div formArrayName="nameIngredients">
        
          <div class="form-group" *ngFor="let ingredientNameControl of getIngredientsName().controls; let i = index">
           <input type="text" class="form-control" [formControlName]="i">
          </div>

        </div>

        <div formArrayName="QuantityIngredients">
          <div class="form-group" *ngFor="let ingredientQuantityControl of getIngredientsQuantity().controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <div formArrayName="UnitIngredients">
          <div class="form-group" *ngFor="let ingredientUnitControl of getIngredientsUnit().controls; let i = index">
            <select class="form-control" [formControlName]="i">
              <option value="" selected="yes">Pas d'unité</option>
              <option value="g">g</option>
              <option value="L">L</option>
              <option value="mL">mL</option>
              <option value="cuillère à soupe">cuillère à soupe</option>
              <option value="cuillère à café">cuillère à café</option>
              <option value="pincée">pincée</option>
              <option value="gousse">gousse</option>
              <option value="bouquet">bouquet</option>
             </select>
          </div>
        </div>

      </div>
    <button type="button" class="btn btn-success" (click)="onAddIngredients()">
      Ajouter un ingrédient
    </button>
    </div>

<!--FormArray INSTRUCTION -->
    <div class = "liste-ingredient">
      <div class = "champ-ingredient">
         <h4>Etape</h4>
         <h4>Instruction</h4>
      </div>
      
      
       
       <div formArrayName="instructions">
        
          <div class="form-group" *ngFor="let instructionControl of getInstructions().controls; let i = index">
          <div class = "champ-ingredient">
           {{ i + 1 }} 
           <input type="text" class="form-control" [formControlName]="i">
           </div>
          </div>

      </div>
    <button type="button" class="btn btn-success" (click)="onAddInstructions()">
      Ajouter une instruction
    </button>
    </div>

    <div class="form-group">
      <h4>Ajouter une photo</h4>
      <input type="file" (change)="detectFiles($event)"
             class="form-control" accept="image/*">
      <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>

    

    <button type="submit" class="btn btn-primary" [disabled] = "recetteForm.invalid || fileIsUploading">    Soumettre</button>
  </form>
</div>