<app-recette *ngFor ='let recette of recettes'
							  [id] = "recette.id"
                              [recetteName] = "recette.recetteName"
                              [recetteCategory] = "recette.recetteCategory"
                              [recetteDificulty] = "recette.recetteDificulty"
                              [recetteTime] = "recette.recetteTime"
                              [recetteAddDate] = "recette.recetteAddDate"
                              [nbPersonne] = "recette.nbPersonne"
                              [Ingredients] = "recette.Ingredients"
                              [Instructions] = "recette.Instructions">
                              <p>recette: {{recetteName}}</p>
</app-recette>