/* You can add global styles to this file, and also import other style files */

.liste-ingredient .champ-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: blue;
}

h1 {
	margin: auto;
}

#ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formulaire {
	width: 500px;
	margin: auto;
}


.recette-Name {
	color: red;
}

