/* You can add global styles to this file, and also import other style files */

.liste-ingredient .champ-ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: blue;
}

.top-bar {
  display: flex;
  flex-direction: row;
	margin: auto;
}

#ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  text-align: center;
}

.formulaire {
	width: 500px;
	margin: auto;
}


.recette-Name {
	color: red;
}

#titre-auth {
  color: orange;
}

#warning {
  color: red;
}

.header {
  text-align: center;
}