<div class = "formulaire">
<h3 class ="recette-Name">Recette</h3>
<input type="text" class="form-control" [(ngModel)] = "recupRecette.recetteName">

<div class="form-group">
    <label for="category">Catégorie:</label>
    <select id="category" class="form-control" [(ngModel)] = "recupRecette.recetteCategory">
	    <option value="Plat">Plat</option>
        <option value="Patisserie">Patisserie</option>
        <option value="Apéritif">Apéritif</option>
        <option value="Entrée">Entrée</option>
        <option value="Brioche">Brioche</option>
    </select>
</div>

<div class="form-group">
    <label for="recetteDificulty">Difficulté de la recette (sur 5)</label>
    <select id="recetteDificulty" class="form-control" [(ngModel)] = "recupRecette.recetteDificulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>

<div class="form-group">
	<label for ="Temps">Temps de réalisation </label>
	<input type="time" name="Temps" class="form-control" [(ngModel)] = "recupRecette.recetteTime" >
</div>
		
<div class="form-group">
      <label for="nbPersonne">Nombre de personnes</label>
      <select id="nbPersonne" class="form-control" [(ngModel)] = "recupRecette.nbPersonne">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
</div>
 
      <label for="ingredients">Ingredients</label>
		<ul>
			
			<li  *ngFor ="let ingredients of recupRecette.Ingredients"> 
				<div id ="ingredients">
					<input type="text" name="nom" class="form-control" 
							[(ngModel)] = "ingredients.nameIngredient" >

					<input  type="text" name="quantité" class="form-control" 
							[(ngModel)] = "ingredients.quantity">

		
					<select class="form-control" [(ngModel)] = "ingredients.unitIngredient">
			              <option value="">Pas d'unité</option>
			              <option value="g">g</option>
			              <option value="Kg">Kg</option>
			              <option value="L">L</option>
			              <option value="mL">mL</option>
			              <option value="cuillère à soupe">cuillère à soupe</option>
			              <option value="cuillère à café">cuillère à café</option>
			              <option value="pincée">pincée</option>
			              <option value="gousse">gousse</option>
			              <option value="bouquet">bouquet</option>
			              <option value="9">9</option>
			              <option value="10">10</option>
	           		</select>
           		</div>
			</li>

		</ul>
		
		<label for="recette">Recette</label>
		<ul>
			<li id = "instructions" *ngFor ="let instruction of recupRecette.Instructions"> 
				<div>{{ instruction.step }}:</div> 
				<input type="text" name="Temps" class="form-control" 
						[(ngModel)] = "instruction.detailInstruction" >
			</li>
		</ul>

	<div class="form-group">
      <h4>Ajouter une photo</h4>
      <input type="file" (change)="detectFiles($event)"
             class="form-control" accept="image/*">
      <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>
		
	<button type="button" class="btn btn-primary" (click)="OnModify()">Modifier</button>

	<button class="btn btn-default pull-right" (click)="onDeleteRecette(this.id)">
        <span class="glyphicon glyphicon-minus">Supprimer</span>
    </button>

</div>


